@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100%;
}

.landing-page-wrapper {
    @include flexBox;
    @include flexCenter;
    @include flexAlignCenter;
    @include flexDirectionColumn;
    width: 100%;
    height: 100%;
    h3 {
        font-family: $Lato;
        color: $midnight-blue;
        font-size: .9rem;
        margin: 15px 0;
        text-align: center;
    }
}

.landing-page-title {
    @include flexBox;
    @include flexDirectionColumn;
    @include flexCenter;
    text-align: center;
    margin: 0 0 40px 0;
    span {
        margin: 10px 0;
        &.page-title {
            font-size: 36px;
            font-family: $Lato;
            color: $midnight-blue;
            letter-spacing: 0.2rem;
        }
        &.page-subtitle {
            font-size: 16px;
            font-family: $Lato;
            color: $midnight-blue;
        }
    }
}

.search-wrapper {
    @include flexBox;
    @include flexCenter;
    @include flexAlignCenter;
    @include flexDirectionColumn;
    width: 100%;
}

.submit-button {
    @include flexBox;
    @include flexCenter;
    @include flexAlignCenter;
    border: 1px solid $cerulean;
    border-radius: 3px;
    background-color: $cerulean;
    text-decoration: none;
    color: white;
}

.table-wrapper {
    height: auto;
    width: 100%;
    padding: 10px;
}

.table-title {
    grid-area: title;
    align-self: center;
    font-family: $Lato;
    font-size: 24px;
    color: $midnight-blue;
    text-align: center;
}

// Styles for Home page for Creating Alerts

.error-text {
    max-width: 350px;
    color: $red;
}

.text-muted {
    max-width: 350px;
}

// Styles for the Alert Config Info Page

.alert-config-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.alert-config-page-title {
    width: 100%;
    text-align: center;
    font-family: $Lato;
    font-size: 36px;
    color: $midnight-blue;
    margin: 3rem 0;
}

.alert-config-page-table-inner {
    grid-area: table;
    height: 100%;
    width: 100%;
}

.alert-config-table-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 100%
}

.alert-config-delete-all-alerts-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

// Styles for the Posted Alerts Info Page

.posted-alerts-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.posted-alerts-page-title {
    width: 100%;
    text-align: center;
    font-family: $Lato;
    font-size: 36px;
    color: $midnight-blue;
    margin: 3rem 0;
}

.posted-alerts-page-table-inner {
    grid-area: table;
    height: 100%;
    width: 100%;
}

.posted-alerts-table-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 100%
}

// Material table styles

.MuiToolbar-root {
    color: $midnight-blue
}

.MuiTableSortLabel-root:hover {
    color: $white;
}

a {
    color: $midnight-blue;
    &:hover {
        color: $midnight-blue;
    }
}
